* {
    box-sizing: border-box;
  }

  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left:auto ;
    margin-right: auto;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
  }

  .frontpage{
    background-image: url("img/guld.jpg");
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    background-position: center;
    margin: auto;

  }
  
  /* Style the header */
  header {
    background-color:rgb(0, 0, 0);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    text-decoration: overline;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: white;*/
  }
  
  .navknap:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color:white;
    display: block;
  }
  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    word-spacing: 70px;
   
  }
  .section{
    background-image: url(/img/guld.psd);
    background-position: center;
    background-attachment: fixed;
    
  }

  p{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Style the list inside the menu */
  nav p label {
    padding: 50px;
    text-decoration: none;
  }
  main{
    background-color: black;
    padding: 1em;
  }

  .container{
    background-image: cover;
    
  }
  .placeringlogo{
    width: 1px;
    height: 3px;
  }

  .gallery{
    background-color: grey;
    background-position: center;
    display: flex;
    margin: 1em;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
  }

  .gallery img{
    width: 100%;
  }

  .box{
    /*background-color: black;*/
    display: flex;
    margin: 1em;
    padding: 1em;
    flex-direction:column;
    flex: 1 0 0%;
  }

  .box > p{
    padding-top: 10px;
  }

  .forsidetekst{
    border: 3px grey;
  }
  
  article {
    float: left;
    padding: 30px;
    background-color: #000000;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 600px;

  }
  .altkontakt{
    color: white;
    text-align:center;
    border: 1px solid blanchedalmond; 
    width: 500px;
    margin-bottom: 30px;
    margin-top: 30px
    
  }

  /* Style the footer */
  .footer {
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    color:black;
  }

  .fab fa-facebook-square{
    font-size: 5px;
  }

  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }